html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Font face */
@font-face {
  font-family: 'WebSymbolsRegular';
  src: url('/fonts/websymbols-regular-webfont.eot');
  src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/websymbols-regular-webfont.woff') format("woff"), url('/fonts/websymbols-regular-webfont.ttf') format("truetype"), url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format("svg");
  font-weight: normal;
  font-style: normal; }

/* Communs */
html, body {
  height: 100%; }

body {
  font: 12px/18px "Lucida sans", sans-serif;
  /*background: #ffffff; */
  background-color:#3C3C3C;
}

img {
  max-width: 100%; }

/* header */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #AAA;
  height: 80px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 20px;
  -moz-box-shadow: 0 1px 3px #111111;
  -webkit-box-shadow: 0 1px 3px #111111;
  -o-box-shadow: 0 1px 3px #111111;
  box-shadow: 0 1px 3px #111111;
  background-color:#CCCCCC;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f8f9), color-stop(100%, #cfd5dd));
  background-image: -webkit-linear-gradient(#f7f8f9, #cfd5dd);
  background-image: -moz-linear-gradient(#f7f8f9, #cfd5dd);
  background-image: -o-linear-gradient(#f7f8f9, #cfd5dd);
  background-image: -ms-linear-gradient(#f7f8f9, #cfd5dd);
  background-image: linear-gradient(#f7f8f9, #cfd5dd); 
  background-image:url(/IMages/headbg.png);

}
  #navbar p {
    float: left;
    margin-right: 10px; }

#navbar h1 {
  color: #74859e;
  line-height: 10px;
  text-shadow: 0 1px 0 white;
  font-size: 1.125em;
  font-weight: bold;
  padding: 20px 0 0 0; }

#navbar a{
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  text-decoration: none;
  background:#111111 center center no-repeat;
  vertical-align:central;
  color:white;
  text-align:center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: all 0.025s ease;
  -webkit-transition: all 0.025s ease;
  -o-transition: all 0.025s ease;
  transition: all 0.025s ease; }

#navbar a:hover {
  background-color: #62b5ee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62b5ee), color-stop(100%, #0690e5));
  background-image: -webkit-linear-gradient(#62b5ee, #0690e5);
  background-image: -moz-linear-gradient(#62b5ee, #0690e5);
  background-image: -o-linear-gradient(#62b5ee, #0690e5);
  background-image: -ms-linear-gradient(#62b5ee, #0690e5);
  background-image: linear-gradient(#62b5ee, #0690e5);  
  -moz-box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111;
  -webkit-box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111;
  -o-box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111;
  box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111; }

/* gallery content */
#content {
  margin: 41px 0 0 0;
  padding: 10px;
  text-align: center; }

#content .gallery img {
  display: block;
  border: 1px solid transparent;
  -moz-transition: all 0.025s ease;
  -webkit-transition: all 0.025s ease;
  -o-transition: all 0.025s ease;
  transition: all 0.025s ease; }

#content .gallery li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  background:#111111 center center no-repeat;
  vertical-align:central;
  color:white;
  width: 200px;
  height:150px;
  text-align:center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: all 0.025s ease;
  -webkit-transition: all 0.025s ease;
  -o-transition: all 0.025s ease;
  transition: all 0.025s ease; }

#content .gallery li:hover {
  background-color: #62b5ee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62b5ee), color-stop(100%, #0690e5));
  background-image: -webkit-linear-gradient(#62b5ee, #0690e5);
  background-image: -moz-linear-gradient(#62b5ee, #0690e5);
  background-image: -o-linear-gradient(#62b5ee, #0690e5);
  background-image: -ms-linear-gradient(#62b5ee, #0690e5);
  background-image: linear-gradient(#62b5ee, #0690e5);
  -moz-box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111;
  -webkit-box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111;
  -o-box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111;
  box-shadow: 0 0 0 1px #0873b9, inset 0 1px 0 #8bc8f2, 0 1px 5px #111111; }

#content .gallery li:hover img {
  border: 1px solid #0174bd; }

#glisse-close {
  display: none; }

#glisse-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border-top: 1px solid #2d2f35;
  text-shadow: 0 -1px 0 #333333;
  background-color:#3C3C3C;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #575A62), color-stop(100%, #3E4148));
  background-image: -webkit-linear-gradient(#575A62, #3E4148);
  background-image: -moz-linear-gradient(#575A62, #3E4148);
  background-image: -o-linear-gradient(#575A62, #3E4148);
  background-image: -ms-linear-gradient(#575A62, #3E4148);
  background-image: linear-gradient(#575A62, #3E4148);
  -moz-box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 3px #111111;
  -webkit-box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 3px #111111;
  -o-box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 3px #111111;
  box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 3px #111111; }

.glisse-next a, .glisse-prev a {
  position: absolute;
  display: block;
  left: 0;
  height: 39px;
  width: 39px;
  font-family: 'WebSymbolsRegular';
  line-height: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 black; }

.glisse-next a:active, .glisse-prev a:active {
  text-shadow: 0 0 30px white, 0 0 10px white; }

.glisse-prev a {
  border-right: 1px solid #2d2f35;
  -moz-box-shadow: inset -1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px 0 0 #FFFFFF;
  -o-box-shadow: inset -1px 0 0 #FFFFFF;
  box-shadow: inset -1px 0 0 #FFFFFF; }

.glisse-next a {
  left: auto;
  right: 0;
  border-left: 1px solid #2d2f35;
  -moz-box-shadow: inset 1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset 1px 0 0 #FFFFFF;
  -o-box-shadow: inset 1px 0 0 #FFFFFF;
  box-shadow: inset 1px 0 0 #FFFFFF; }

.glisse-legend {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 40px;
  text-align: center;
  line-height: 40px; }

.glisse-folder-legend {
    position:fixed;
    *position:static;
    text-align:center; 
    width:200px;
}